body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background-color: white;
}


header {
    text-align:center;
    background-color: lightgray;
    color: rgb(237, 251, 255);
    padding: 15px;
}
#display img {
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
}
.hero {
  display: flex;
  align-items: center;      
  justify-content: space-between;
  background-color: #b5d1c2; 
  padding: 50px;
}

.hero-text {
  max-width: 50%;
}

.hero-image img {
  width: 450px;
  height: auto;
  border-radius: 10px; 
}
nav{
    background-color: #222;
    color: rgb(237, 251, 255);
    padding: 15px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contact-info {
    background-color: #b5d1c2;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    list-style-type: none;
}
.contact-info p {
    margin: 5px 0;
}
.about-me {
    background-color: #b5d1c2;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    max-width: 600px;
    list-style-type: none;
}
.projects {
    background-color: #b5d1c2;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    max-width: 600px;
    list-style-type: none;
}